@font-face {
    font-family: one;
    src: url(./assets/NorthstarBoldItalic-dYAE.otf);
}

@font-face {
    font-family: two;
    src: url(./assets/Northstar3DItalic-7V9R.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 15px;
}

.hero_section body {
    background-color: rgb(217, 217, 217);
}

.App {
    background: linear-gradient( to bottom, rgba(231, 234, 248, 0.623), rgba(104, 192, 226, 0.836));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.link {
    color: white;
    text-decoration: none !important;
    font-weight: 600;
}

.link:hover {
    color: rgba(255, 255, 255, 0.5);
}